.p-footer {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

@media (max-width: var(--medium)) {
    .p-footer {
        padding: 24px 24px 64px;
        grid-template-columns: unset;
    }
}