.p-footer {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    &__email {
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 767px) {
    .p-footer {
        padding: 24px;
        grid-template-columns: unset;
    }
}