// animations
//
// Use these classes for transitions of elements
//
// Styleguide generics.animations

// slide down animation
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: none;
    }
}

.p-slidedown {
  animation: slide-down 1s forwards;
}

// zoom out animation
@keyframes zoom-out {
  0% {
    opacity: 0.6;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.p-zoom-out {
  &__initial {
      opacity: 0.6;
      transform: scale(1.2, 1.2);
  }
  &__animation {
      animation: zoom-out 2s ease-out;
  }
}