@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: none;
    }
}

.p-slidedown {
  animation: slide-down 1s forwards;
}

.p-init-opacity {
  opacity: 0;
}

@keyframes zoom-out {
  0% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}