/* Colors | Global */
:root {
    --primary-txt-color: #192735;
    --secondary-txt-color: #789;
    --alt-txt-color: #2f4f4f;

    --medium-blog: #6c00ab;
    --medium-trans: #ffe4e1;
    --dribble: #d0021b;
    --dribble-trans: #ebfaf5;

    --bg: #FFF;
}
