.wrapper#experience {
    margin: 5rem auto;
}
#experience .blocks {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}

@media (max-width: 767px) {
    #experience .blocks {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 599px) {
    #experience .blocks {
        grid-template-columns: 100%;
        grid-gap: 32px;
    }
}
