h1, h2, p {
    color: $priamry-txt-color;
}

// title fonts
h1.p-title {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    margin-bottom: 1rem;
}
h2 {
    font-family: Averia Gruesa Libre,serif;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
}
h6 {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 16px 0 5px;
    color: $secondary-txt-color;
}

div.p-subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: $priamry-txt-color;
}

p.p-txt-lg {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: $alt-txt-color;
}
p.p-txt-body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    opacity: .8;
    margin-bottom: 1rem;
    color: $priamry-txt-color;
}
p.p-txt-md {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: .8;
    margin: 0.1rem 0 0.1rem;
}

label.p-txt-label {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 2px;
    opacity: .7;
}
label.p-label-emp {
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 767px) {
    h1.p-title {
        font-size: 3rem;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    p.p-txt-body {
        font-size: 1rem;
    }
}

@media (max-width: 599px) {
    p.p-txt-lg {
        font-size: 1.5rem;
        line-height: 36px;
    }
}

@media (max-width: 599px) {
    h3.p-subtitle {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    div.p-subtitle {
        font-size: 1rem;
    }
}
@media (max-width: 767px) {
    p.p-txt-md {
        font-size: 0.8rem;
        margin: 0;
    }
}
@media (max-width: 767px) {
    label.p-txt-label {
        font-size: 0.7rem;
    }
}
