* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-wrapper {
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

.wrapper {
    grid-gap: 16px;
    padding: 24px;
    align-items: center;
    animation: slide-down 1s forwards;
    &--col-1 {
        display: grid;
        grid-template-columns: 100%;
    }
    &--col-2 {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    &--col-2-equal {
        display: grid;
        grid-template-columns: auto auto;
    }
    &--slim {
        max-width: 1024px;
        margin: auto;
    }
    // to remove
    &--fh {
        height: 100vh;
        // scroll-snap-align: start;
    }
    &--plain {
        background: #FFF;
    }
    &--pale {
        background: #faf7ed;
    }
    &--short {
        height: 70vh;
    }

    &--bg-image {
        height: 70vh;
        width: 116%;
        margin: 0 -4rem;
    }
}

@media (max-width: 767px) {
    .wrapper--col-2 {
        grid-template-columns: 100%;
        height: 80vh;
    }
}

@media (max-width: 1119px) {
    .wrapper {
        padding: 16px 32px;
    }
}


.text-wrapper {
    max-width: 1024px;
    margin: 40px auto;
    padding: 0 15px;
}
@media (max-width: 1119px) {
    .text-wrapper {
        padding: 0 32px;
    }
}

.p-parallax-img {
    background-image: url("../images/bg.jpeg");
    min-height: 75vh; 

    /*  parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 -40%;
}

@media (max-width: 767px) {
    .p-parallax-img {
        height: 500px;
        background-attachment: scroll;
        background-position: 50%;
    }
}

.content {
    margin-top: -120px;
    background: #fff;
    padding: 64px 64px 40px;
    position: relative;
}

@media (max-width: 599px) {
    .content {
        padding: 24px 0;
        margin-top: 0;
    }
}
